<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="task_3_style.css">
</head>
<body>
    <div class="form-container">

    <h1> Donor Information </h1>
    <table>
    
        <tr>
<td>Name:</td>
</tr>
<td><input type="text"id= fastName></td>
<tr>
<td>Last Name :</td>
</tr>
<tr>
<td><input type="text"id="lastName"></td>
<tr>
<td>Adress:</td>
</tr>
<tr>
<td><input type="text" id="Adress"></td>
<tr>
<td>city:</td>
</tr>
<tr>
<td><input type="text" id="city"></td>

<tr>
<td> State:</td>
</tr>
<tr>
<td>
<select id = "state">
<option value="">Select a State
<option value=""> -- Dhaka
<option value=""> -- Chittagong
<option value=""> -- Khulna     
<option value=""> -- Rajshahi
<option value=""> -- Barisal
<option value=""> -- Sylhet
<option value=""> -- Rangpur
</td>
</tr>

<tr>
<td>Phone :</td>
</tr>
<tr>
<td><input type="tel"id="phone"></td>

<tr>
<td>Email:</td>
</tr>
<tr>
<td><input type="email"></td>


<tr>
<td>Create Password (min & Characters):</td>
</tr>
<tr>
<td><input type="password"id="passward"></td>

<tr>
<td>Confirm Password :</td>
</tr>
<tr>
<td><input type="password"id="confirmpassward"></td>

<tr>
<td> Donation Amount:</td>
</tr>
<tr>
<td>
<input type="radio" name="amount">None
<input type="radio" name="amount">500 BDT
<input type="radio" name="amount">1000 BDT
<input type="radio" name="amount">2000 BDT
<input type="radio" name="amount">3000 BDT  
<input type="radio" name="amount">other
</td>
</tr>

<tr>
<td> Other amount :</td>
</tr>
<tr>
<td><input type="text"id= "otheramount"></td>

<tr>
<td>
<input type ="checkbox"name="lang"> I am Interested in giving on a regular basis.
</td>
</tr>

<br>
<tr>
<td>
<h2> Additional Information </h2>
</td>
</tr>
<tr>
<td>
<input type ="checkbox"name="lang"> I would like my gift to remain anonymous.
</td>
</tr>
<tr>
<td>
<input type ="checkbox"name="lang"> My employer offers a matching gift program.
</td>
</tr>
<tr>
<td>
<input type ="checkbox"name="lang">Please don't send a thank you letter
</td>
</tr>

<tr> <td>Comments :</td>
</tr>
<tr>
<td><textarea rows="4" cols="40"></textarea></td>
</tr>


  <tr>
<td>
   <input type="submit" value="Submit" onclick="return submit()">
   <input type="reset" value="Reset">
    </td>
    </tr>


    </table>
    <script src = "C:\xampp\htdocs\Web Tech\WT_Summer_24-25\Mid\Task_3\View\task_3_valid.js"> </script>
    </div>

</body>
</html>